.login-register__container{
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
}

.login,
.register{
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: .5rem;
}

@media screen and (max-width: 992px){
    .login,
    .register{
        padding: 1.25rem;
    }
}

@media screen and (max-width: 768px){
    .login-register__container{
        grid-template-columns: 100%;
    }
}